 <!DOCTYPE html>

<html lang="en">

	<head>
	    <title></title>
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	    <script type="text/javascript" src="./AddNumberApp.js"></script>
	</head>

	<body ng-app="AddNumberApp">

		<div ng-controller="AddNumberController"> 
			<h1>Sample Adding Inputs</h1> 
			<button ng-click="add(1)" class="button">Add</button>
			<button ng-click="subtract(1)" class="button">Subtract</button>

			<h1> Current Count is : {{ count }}</h1>
		</div> 

	</body>


</html>